/* Importanción de la fuente */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');


/* Custom property */
:root{
    --padding-container: 100px 0;
    --color-title: #001A49;
    --color-plan: #696871;
    --color-price: #1D293F;
    --bg-boton: #FFF;
    --color-btn: #5454D4;
    --color-items: #696871;
}


/* Configuraciónes iniciales */
* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}


h1 {
    margin: 0;
}

/* Estilos para el Header */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

.hero {
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
}


.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url(../assets/images/banner.jpg);
    background-position: center;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
    z-index: -1;
}

.nav {
    --padding-container: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav__title {
    font-weight: 300;
}

.nav__items {
    list-style: none;
}


.nav__links{
    text-decoration: none;
    color: #fff;
}

.nav__link{
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}

.nav__close{
    display: var(--show, none);
}

.nav__menu{
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav__img{
    display: block;
    width: 30px;
}


.hero__container {
    max-width: 800px;
    --padding-container: 0;
    display: grid;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-bottom: 100px;
    text-align: center;
}

.hero__title {
    font-size: 3rem;
}

.hero__paragraph{
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    justify-self: center;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 32px;
}

.btn--primary {
    background-color: #2091F9;
    color: #fff;
}

/* ========================== ABOUT ========================== */

.about {
    text-align: center;
}

.subtitle {
    color: var(--color-title);
    font-size: 2rem;
    margin-bottom: 25px;
}

.about__paragraph {
    line-height: 1.7;
}

.about__main {
    padding-top: 80px;
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    /* overflow: hidden; */
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
}

.about__article {
    display: grid;
    gap: 1em;
    justify-items: center;
    width: 260px;
    /* overflow: hidden; */
    margin: 0 auto;
}

.about__icon {
    width: 40px;
}

/* ========================== KNOWLEDGE ========================== */

.knowledge {
    text-align: center;
    background-color: #e8e8f5;
    opacity: 0.8;
    background-image: radial-gradient(#626afa 0.3px, #e8e8f5 0.3px);
    background-size: 12px 12px;
    overflow: hidden;
}

.knowledge__main {
    display: flex;
    flex-direction: column;
}

.knowledge__paragraph {
    line-height: 1.7;
    margin-bottom: 15px;
}

.knowledge__picture {
    max-width: 500px;
    margin-bottom: 25px;
}

.knowledge__img {
    width: 100%;
    display: block;
}


/* ========================== PRICE ========================== */

.price {
    text-align: center;
}

.price__main {
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5em;
    justify-content: space-evenly;
    align-items: center;
}

.plan {
    background-color: #e5e5f7;
    text-align: center;
    border-radius: 10px;
    width: 330px;
    padding: 40px;
}

.plan--best {
    background-color: #FF7143;
    --color-plan: rba(255 255 255 / 75%);
    --color-price: #FFF;
    --bg-boton: #9f3919;
    --color-btn: #FFF;
    --color-items: #fff;
    width: 370px;
    padding: 60px 40px;
}

.plan__name {
    color: var(--color-plan);
    margin-bottom: 15px;
    font-weight: 300;
}

.plan__price {
    font-size: 2.5rem;
    color: var(--color-price);
}

.plan__items{
    margin-top: 35px;
    display: grid;
    gap: 1em;
    font-weight: 300;
    font-size: 1.2rem;
    margin-bottom: 50px;
    color: var(--color-items);
}

.plan__btn {
    display: block;
    padding: 20px 0;
    border-radius: 10px;
    text-decoration: none;
    background-color: var(--bg-boton);
    font-weight: 600;
    color: var(--color-btn);
    box-shadow: 0 0 1px rgba(0,0,0,.5);
}


/* ========================== MEDIA QUERIES ========================== */

@media screen and (min-width: 790px) {  
    .knowledge  {
        text-align: left;
    }

    .knowledge__main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
        align-items: center;
    }

    .knowledge__picture {
        margin-bottom: 0;
    }
}